<div class="food-widget">
  <div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
          <div class="col-md-4">

            <div class="box box-widget widget-user card">
              <div id="food-widget-header" class="widget-user-header bg-aqua-active">
                <p id="widget-username" class="widget-user-username">{{{name}}}</p>
              </div>

              <div class="widget-user-image">
                <img id="widget-profile" class="img-circle" src="/public/images/stockProfile.png" alt="User Avatar">
              </div>

              <div class="box-footer">
                <div class="row">
                  <div class="col-sm-3 border-right">
                    <div class="description-block">
                      <p class="description-header">{{{calories}}}</p>
                      <span class="description-text">Calories</span>
                    </div>
                  </div>
             
                  <div class="col-sm-3 border-right">
                    <div class="description-block">
                      <p class="description-header">{{{carbs}}}</p>
                      <span class="description-text">Carbs</span>
                    </div>
                  </div>
                
                  <div class="col-sm-3">
                    <div class="description-block">
                      <p class="description-header">{{{fats}}}</p>
                      <span class="description-text">Fats</span>
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="description-block">
                      <p class="description-header">{{{protein}}}</p>
                      <span class="description-text">Protein</span>
                    </div>
                  </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
