<div id="food-log-container">
    {{#> caloriesRemainingWidget}}
    {{/caloriesRemainingWidget}}
    <form method="post" id="food-log-form" action="/food-log/{{date}}">
        <div>
            <label for="date">Date</label>
            <input class="form-control form-control-sm" type="date" id="date" name="date" value="{{date}}" />
            <label for="food">Food</label>
            <input class="form-control form-control-sm" type="text" id="food" name="food" />
            <label for="calories">Calories</label>
            <input class="form-control form-control-sm" type="number" id="calories" name="calories" />
            
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

    {{#if food.[0]}}
    <table class="food-log">
        <tr>
            <th>Food</th>
            <th>Calories</th>
            <th>Delete</th>
        </tr>

        {{#each food}}
        <tr id="row{{@index}}">
            <td>{{this.foodName}}</td>
            <td>{{this.calories}}</td>
            <td><button id="{{@index}}">Delete</button></td>
        </tr>
        {{/each}}
    </table>
    {{/if}}

</div>
<div id="error">
    <p>{{{error}}}</p>
</div>