 {{#> caloriesRemainingWidget}}
{{/caloriesRemainingWidget}}
<div class="container" id="food-log-container">

    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Food Log</h2>
            <p>Welcome to your personal food log! Here, you can keep track of your daily caloric
                intake in order to meet your goals. First, select the date you want to log food on.
                Then, either enter a custom food, or search our database of thousands of foods!
            </p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Select a Journal Date:</h2>
            <input class="form-control form-control-sm" type="date" id="date" name="date" value="{{date}}"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Custom Food</h3>
            <form method="post" id="food-log-form" action="/food-log/{{date}}">
                <div>            
                    <label for="food">Food</label>
                    <input class="form-control form-control-sm" type="text" id="food" name="food" />
                    <label for="calories">Calories</label>
                    <input class="form-control form-control-sm" type="number" id="calories" name="calories" />      
                </div>
                <button class="btn btn-primary" type="submit">Enter Food</button>
            </form>
        </div>

        <div class="col">
            <h3>Database Search</h3>
            <form method="post" id="food-journal">
                <div>
                    <label for="foodItem">Food Database Search</label>
                    <input class="form-control form-control-sm" type="text" id="foodItem" name="foodItem"/>
                </div>
                <button class="btn btn-primary" type="submit">Search Edamam Database</button>
            </form>
            <div id="food-journal-error"></div>
            <div id="results-div"></div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
        <h3>Food Journal</h3>
        {{#if food.[0]}}
            <table class="table food-log table-striped table-bordered table-hover">
                <thead class="thead-primary">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Food</th>
                        <th scope="col">Calories</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                {{#each food}}
                <tr scope="row" id="row{{@index}}">
                        <td>{{@index}}</td>
                        <td>{{this.foodName}}</td>
                        <td>{{this.calories}}</td>
                        <td><button id="{{@index}}">Delete</button></td>
                </tr>
            {{/each}}
            </tbody>
            </table>
        {{/if}}
        </div>
    </div>
</div>
<div id="error"> <p>{{{error}}}</p></div>

