
{{#> caloriesRemainingWidget}}
{{/caloriesRemainingWidget}}
<div id="profile-container" class="container-fluid">
    <div class="row">
    <div class="col col col-12 col-md-6">
    <h1>{{{firstName}}} {{{lastName}}}</h1>
    <h2>email:
        <p>{{{email}}}</p></h3>
    <h2>Date of Birth:
        <p>{{{dob}}}</p>
    </h3>
    <h3>Height:
         <p>{{{height}}}</p>
    </h3>
    <h3>Current Weight:
        <p>{{{currentWeight}}}</p>
    </h3>
    <h3>Body Mass Index (BMI):
        <p>{{{bmi}}}</p>
    </h3>
    <h3>Base Metabolic Rate (BMR):
        <p>{{{bmr}}}</p>
    </h3>
    <h3>Current Activity Level:
        <p>{{{activityLevel}}}</p>
    </h3>
    <h3>Current Weekly Weight Goal:
        <p>{{{weeklyWeightGoal}}}</p>
    </h3>
    <h3>Current Daily Caloric Goal:
        <p>{{{calorieGoal}}}</p>
    </h3>
    </div>
    <div class="col col col-12 col-md-6">
        <a class="btn btn-primary btn-large" href="/profile/editProfile" role="button">Edit Profile</a>
    </div>
    </div>
    <div class="card two bg-white px-5 py-4 mb-3">
        <form method="post" id="log-weight-form">
            <h3>Log your current weight to track progress: </h3>
            <p>Note: Logging a new weight will cause your nutrition profile, including daily calories, to be updated!</p>
                <div class="form-group">
                    <input type="number" class="form-control" id="weight" name="weight" required>
                    <label class="form-control-placeholder" for="weight">Weight</label>
                </div>
                <button type="submit" class="btn btn-primary btn-block btn-lg mt-1 mb-2"><span>Log current weight</span></button>
        </form>
    </div>
</div>