{{#> caloriesRemainingWidget}}
{{/caloriesRemainingWidget}}
<div>
    <h1>{{{firstName}}} {{{lastName}}}</h1>
    <h2>{{{email}}}</h2>
    <h2>{{{dob}}}</h2>
    <h3>Height: {{{height}}}</h3>
    <h3>Current Weight: {{{currentWeight}}}</h3>
    <h3>BMR: {{{}}}</h3>
    <h3>BMI: {{{}}}</h3>
    <h3>Current Activity Level: {{{activityLevel}}}</h3>
    <h3>Current Weekly Weight Goal: {{{weeklyWeightGoal}}}</h3>
</div>