<div>
    {{#if authenticated}}
    {{#> caloriesRemainingWidget}}
    {{/caloriesRemainingWidget}}
    {{/if}} 
    <article id="post-thread">
        <section id="main-post">
        <h2 id="post-title">{{title}}</h2>
        <h3>Author: {{poster.name}}</h3>
        <p id="post-body">{{body}}</p>
        </section>
        <div id="main-post-error"></div>
        <section id="comments">
            {{#each comments}}
            <div>
                <h4>Author: {{this.poster.name}}</h4>
                <p>{{this.body}}</p>
            </div>
            {{/each}}
        </section>
    </article>
    <div id="comment-form-container">
        <form method="post" id="new-comment-form">
            <div class="form-group">
                <h5>Comment on this post</h5>
                <label for="comment">Post</label>
                <input type="text" class="form-control" id="comment" name="comment">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
    </form>
    <div id="newComment-error">
        {{error}}
    </div>
    </div>
    <a href="/forum">Back to all posts</a>
</div>